/* =====================================
   SCREEN EFFECTS
===================================== */


.screen-flicker{


animation:

flicker .15s;


}



@keyframes flicker{


0%{

opacity:.9;

}


50%{

opacity:.75;

}


100%{

opacity:1;

}


}