/* =====================================
   COMPONENTS GLOBAL
===================================== */


.card-title{

    font-family:
    "Bowlby One SC";

    color:
    var(--red-dark);

}



.card{

    background:#fff;

    border:

    4px ridge var(--gold);


    padding:20px;


    box-shadow:

    var(--shadow);

}