/* =======================================
   HEADER
   FREDDY FAZBEAR'S PIZZA
======================================= */


.site-header{


    position:relative;



    background:


    linear-gradient(

        180deg,

        #9b0000,

        #520000

    );



    border-bottom:


    6px ridge var(--gold);



    overflow:hidden;



}







/*
TEXTURA DE PLACA
*/


.site-header::before{


    content:"";


    position:absolute;



    inset:0;



    background:


    repeating-linear-gradient(

        90deg,

        rgba(255,255,255,.04) 0,

        rgba(255,255,255,.04) 2px,

        transparent 2px,

        transparent 8px

    );



    pointer-events:none;



}








.header-container{


    width:min(
        1200px,
        95%
    );



    margin:auto;



    display:flex;



    align-items:center;



    gap:35px;



    padding:20px 0;



    position:relative;



}









/* LOGO */


.header-logo-box{


    background:


    linear-gradient(

        #fff2b0,

        #c58b30

    );



    padding:8px;



    border:


    5px ridge var(--gold);



    box-shadow:


    0 0 20px black;



}






.logo{


    width:180px;



    display:block;



}









/* TEXTO */


.header-text h1{


    margin:0;



    color:white;



    font-family:


    "Bowlby One SC";



    font-size:

    clamp(
        28px,
        4vw,
        42px
    );



    text-shadow:


    3px 3px 0 #300000;



}








.header-text p{


    margin-top:10px;



    color:#ffd86b;



    font-size:20px;



    font-family:


    "Special Elite";



}








.header-text span{


    display:inline-block;



    margin-top:10px;



    color:white;



    font-family:


    "Press Start 2P";



    font-size:10px;



    background:#300000;



    padding:8px;



    border:


    2px solid var(--gold);



}









/* BRILHO */

.site-header:hover .header-logo-box{


    box-shadow:


    0 0 30px #ffd45c;


}









/* MOBILE */


@media(max-width:750px){



.header-container{


    flex-direction:column;



    text-align:center;



}



.logo{


    width:140px;


}



}