/* =======================================
   NAVBAR
   FREDDY FAZBEAR'S PIZZA
======================================= */


.navbar{


    background:


    linear-gradient(

        #700000,

        #350000

    );



    border-bottom:


    5px ridge var(--gold);



    border-top:


    2px solid #b88632;



    box-shadow:


    0 5px 12px rgba(0,0,0,.5);



}








.navbar ul{


    width:min(

        1200px,

        95%

    );



    margin:auto;



    padding:0;



    list-style:none;



    display:flex;



    justify-content:center;



    align-items:center;



}








.navbar li{


    position:relative;


}








.navbar li:not(:last-child)::after{


    content:"★";



    color:#d6a537;



    margin:0 5px;



    font-size:12px;



}








.navbar a{


    display:block;



    padding:16px 18px;



    color:#fff0b0;



    text-decoration:none;



    font-family:


    "Bowlby One SC";



    font-size:15px;



    text-transform:uppercase;



    transition:.3s;



}








.navbar a:hover{


    background:


    linear-gradient(

        #b00000,

        #600000

    );



    color:white;



    text-shadow:


    0 0 8px #ffd45c;



}








/*
ACTIVE STYLE
*/


.navbar a.active{


    background:#300000;



    color:#ffd45c;



}









/* =======================================
 MOBILE
======================================= */


@media(max-width:850px){



.navbar ul{


    flex-direction:column;



}



.navbar li{


    width:100%;



    text-align:center;



}



.navbar li:not(:last-child)::after{


    display:none;



}



.navbar a{


    border-bottom:


    1px dashed #d6a537;



}


}