/* =======================================
   SIDEBAR
======================================= */


.sidebar{

    width:320px;

    flex-shrink:0;

}



.sidebar-track{

    display:flex;

    flex-direction:column;

    gap:25px;

}




/* BOX */

.sidebar-box{


    background:

    linear-gradient(
        #fff5d1,
        #d8b36a
    );


    border:

    5px ridge var(--gold);


    box-shadow:

    5px 5px 15px rgba(0,0,0,.4);


    overflow:hidden;


}






.sidebar-title{


    background:

    linear-gradient(
        #850000,
        #400000
    );


    color:white;


    text-align:center;


    padding:15px;


    font-family:
    "Bowlby One SC";


    font-size:18px;


    border-bottom:

    3px solid var(--gold);


}







.sidebar-content{


    padding:18px;


    text-align:center;


}





.sidebar-image{


    width:100%;


    height:170px;


    object-fit:cover;


    border-bottom:

    4px ridge var(--gold);


}






.news-list{


    text-align:left;


    margin-bottom:20px;


}



.news-list li{


    padding:8px 0;


    border-bottom:

    1px dashed #850000;


    font-family:

    "Special Elite";


}







.sidebar-btn{


    display:block;


    margin-top:15px;


    padding:12px;


    background:


    linear-gradient(
        #a00000,
        #500000
    );


    color:white;


    border:

    3px ridge var(--gold);


    font-family:

    "Press Start 2P";


    font-size:10px;


}



.sidebar-btn:hover{


    filter:brightness(1.3);


}






/* ALERTA */

.warning-box{


    background:

    linear-gradient(
        #300000,
        #080000
    );


}


.warning-box p{


    color:#ffd45c;


}







/* =========================
   MOBILE CAROUSEL
========================= */


@media(max-width:1000px){


.sidebar{


    width:100%;


}



.sidebar-track{


    flex-direction:row;


    overflow-x:auto;


    scroll-snap-type:x mandatory;


    gap:15px;


}



.sidebar-box{


    min-width:280px;


    scroll-snap-align:center;


}


}