/* =======================================
   VINTAGE EFFECTS
   FREDDY FAZBEAR'S PIZZA
======================================= */


/* =======================================
   OLD PAPER EFFECT
======================================= */

.vintage-paper{

    background:

    linear-gradient(
        rgba(255,240,200,.8),
        rgba(220,190,130,.8)
    );

    border:

    3px solid #7b5518;

    box-shadow:

    inset 0 0 30px rgba(0,0,0,.25),
    0 5px 15px rgba(0,0,0,.4);

}


/* =======================================
   CRT SCREEN EFFECT
======================================= */

.crt{

    position:relative;

}


.crt::after{

    content:"";

    position:absolute;

    inset:0;


    background:

    repeating-linear-gradient(

        0deg,

        rgba(0,0,0,.08),

        rgba(0,0,0,.08) 1px,

        transparent 1px,

        transparent 3px

    );


    pointer-events:none;

}


/* =======================================
   FILM GRAIN
======================================= */

.noise{

    position:relative;

}


.noise::before{

    content:"";

    position:absolute;

    inset:0;


    background:

    url("../assets/imagens/backgrounds-site/fundoquadriculado.jpg");


    opacity:.08;


    pointer-events:none;

}


/* =======================================
   GOLD FRAME
======================================= */

.gold-frame{

    border:

    5px ridge var(--gold);


    box-shadow:

    inset 0 0 10px #000,
    0 0 10px rgba(0,0,0,.6);

}


/* =======================================
   WARNING STYLE
======================================= */

.warning{

    background:

    linear-gradient(
        #300000,
        #050000
    );


    color:#ffcc00;


    border:

    3px solid #ffcc00;


    padding:20px;


    font-family:

    "Special Elite",
    monospace;


    box-shadow:

    0 0 20px rgba(255,0,0,.5);

}


/* =======================================
   FADE OLD WEBSITE
======================================= */

.old-screen{

    filter:

    contrast(1.05)
    sepia(.25);

}


/* =======================================
   ANTIQUE CARD
======================================= */

.vintage-card{

    background:

    #eee0b5;


    border:

    4px ridge #8b6b2b;


    box-shadow:

    5px 5px 0 rgba(0,0,0,.25);


    padding:20px;

}



/* =======================================
   SECRET FILE STYLE
======================================= */

.secret-file{

    background:

    #d8d0b5;


    border-left:

    8px solid darkred;


    font-family:

    "Special Elite",
    monospace;


    padding:25px;


    color:#222;


}