<footer class="site-footer">


<div class="footer-content">



<div class="footer-brand">


<img
class="footer-logo"
src="assets/imagens/logos/selo.jpg"
data-root="true"
alt="Selo Oficial">



<h2>
Freddy Fazbear's Pizza
</h2>



<p>
Desde 1983 trazendo diversão,
pizza e entretenimento.
</p>



</div>







<div class="footer-links">


<h3>
Links Rápidos
</h3>



<a href="paginas/menu.html">
Cardápio
</a>


<a href="paginas/eventos.html">
Eventos
</a>


<a href="paginas/historia.html">
História
</a>


<a href="paginas/contato.html">
Contato
</a>



</div>







<div class="footer-info">


<h3>
Informações
</h3>



<p>
📍 Freddy Fazbear Entertainment
</p>


<p>
🍕 Aberto todos os dias
</p>


<p>
☎ Central de atendimento
</p>






<button
id="goldenTrigger"
class="secret-button"
title="???">

★

</button>





</div>




</div>







<div class="footer-bottom">


<p>
© Freddy Fazbear's Pizza
</p>


<p>
Todos os direitos reservados.
</p>


</div>



</footer>







<div id="goldenJumpscare">


<img

src="assets/imagens/characters/animatronics/easter-egg-golden.jpg"

alt="Golden Freddy">


</div>