<aside class="sidebar">


<div class="sidebar-track">



<!-- NOTÍCIAS -->

<section class="sidebar-box news-box">


<header class="sidebar-title">

⭐ Últimas Notícias

</header>



<div class="sidebar-content">


<ul class="news-list">

<li>
🍕 Novo cardápio disponível!
</li>


<li>
🎉 Pacotes de aniversário liberados!
</li>


<li>
🤖 Novos shows animatrônicos!
</li>


</ul>



<a class="sidebar-btn"
href="/paginas/noticias.html">

Ver Notícias

</a>


</div>


</section>







<!-- EVENTOS -->


<section class="sidebar-box">


<header class="sidebar-title">

🎂 Eventos Especiais

</header>



<img
class="sidebar-image"
src="/assets/imagens/banners/birthday.jpg"
alt="Eventos">



<div class="sidebar-content">


<p>

Reserve festas,
aniversários e eventos
com nossos personagens.

</p>



<a class="sidebar-btn"
href="/paginas/eventos.html">

Ver Eventos

</a>


</div>


</section>







<!-- ANIMATRONICS -->


<section class="sidebar-box">


<header class="sidebar-title">

🤖 Banda Animatrônica

</header>



<img
class="sidebar-image"
src="/assets/imagens/banners/animatronics.jpg"
alt="Animatrônicos">



<div class="sidebar-content">


<p>

Freddy, Bonnie,
Chica e Foxy aguardam
sua visita.

</p>



<a class="sidebar-btn"
href="/paginas/animatronics.html">

Conhecer

</a>


</div>


</section>








<!-- PIZZA -->


<section class="sidebar-box pizza-box">


<header class="sidebar-title">

🍕

Pizza da Semana

</header>



<img
class="sidebar-image"
src="/assets/imagens/pizzas/especial_dacasa.jpg"
alt="Pizza especial">



<div class="sidebar-content">


<p>

Nosso sabor especial
selecionado da semana.

</p>



<a class="sidebar-btn"
href="/paginas/pizzas.html">

Cardápio

</a>


</div>


</section>







<!-- SEGURANÇA -->


<section class="sidebar-box warning-box">


<header class="sidebar-title">

⚠ Segurança

</header>



<div class="sidebar-content">


<p>

Consulte os protocolos
internos da pizzaria.

</p>



<a class="sidebar-btn"
href="/paginas/seguranca.html">

Ler Avisos

</a>


</div>


</section>





</div>


</aside>