<aside class="sidebar">


<section class="box">


<h3>
★ Promoção ★
</h3>


<img 
src="assets/imagens/anuncios/anunciofreddy.jpg"
alt="Promoção Freddy">


<p>

Pizza grande + diversão
para toda família!

</p>


</section>





<section class="box warning">


<h3>
⚠ Aviso Importante
</h3>


<img 
src="assets/imagens/alerta-animatronics.jpg"
>


<p>

A manutenção dos animatrônicos
é realizada regularmente.

</p>


</section>





<section class="box">


<h3>
Regras da Casa
</h3>


<img 
src="assets/imagens/rules.jpg"
>


</section>





<section class="box hiring">


<h3>
Estamos Contratando!
</h3>


<img
src="assets/imagens/pizzaria.jpg"
>


<p>

Procura-se:

<strong>
Guarda Noturno
</strong>


<br><br>


Turno:
<br>

12:00 AM - 6:00 AM


</p>



<a href="paginas/contratando.html">

Saiba Mais

</a>


</section>





<section class="box">


<h3>
Visitantes
</h3>


<div class="counter">

00001983

</div>


</section>



</aside>